/* Product Color */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 20px;

position: relative;
width: 72px;
height: 228px;

border: 1px dashed #8A38F5;
border-radius: 5px;


/* Status=Default */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

border: 1px solid #BFBFBF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 8 */

margin: 0 auto;
width: 24px;
height: 24px;

background: #A6192E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Status=Selected */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 8 */

margin: 0 auto;
width: 24px;
height: 24px;

background: #A6192E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Status=Sold */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

background: #DFDFDF;
border: 1px solid #DFDFDF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 8 */

margin: 0 auto;
width: 24px;
height: 24px;

background: #A6192E;
opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Status=Blank */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Rectangle 8 */

margin: 0 auto;
width: 24px;
height: 24px;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;